node_modules/
dist/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

.env
backend/.env
*.db
backend/*.db
*.sqlite
*.sqlite3
backend/*.sqlite
backend/*.sqlite3

.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.zip
BunnyHealth-frontendyhh/

.DS_Store
Thumbs.db
